<p-panel *ngIf="post" [header]="post.title" >
    <div [innerHTML]="post.text"></div>

    <app-comment-form [postId]="post.id" (commentPosted)="reloadComments()" style="display: block; margin-top: 10px;"></app-comment-form>
    <p-panel header="Комментарии" [style]="{display: 'block', 'margin-top' : '10px'}">
        <div style="margin: 10px 0;">
            <p-card *ngFor="let c of post.reversedComments" [header]="c.authorName">
                <ng-template pTemplate="subtitle">{{c.createdAt | date}}</ng-template>
                <p style="white-space: pre;">{{c.commentText}}</p>
            </p-card>
        </div>
    </p-panel>
</p-panel>
